<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Expired</title>
  </head>
  <body style="background-color: #1a202b; color: #A0AEC0;display: flex;justify-content: center;align-items: center;height: 95vh;">
    <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; display: flex;">
      <h1 style="border-right: 2px solid #A0AEC0;margin-right: 5px;padding: 5px;font-size: 18px">403</h1>
      <h1 style="margin-left: 10px; padding: 5px;text-transform:uppercase;font-size: 18px;">Unauthorized access to password reset.</h1>
    </div>
  </bod;font-size: 18px Nunito sans-serif;y>
</A0AEC0